/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Global styles for body, layout, and page background */
html,
body {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 4px solid black;
  background-color: #008000;
  font-family: Arial, sans-serif;
}

/* Styling of navbar */
.navbar {
  height: 65px;
  border-width: 2px 0 8px 0;
  border-style: solid;
  border-color: black;
  background-color: #808000;
}

/*Black Border for all elements*/
.diamond-left,
.diamond-right,
.line1,
.line2,
.circle,
.rectangle {
  border: 5px solid black;
}

/* Styling of container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styling of Diamond Section */
.diamond-section {
  position: relative;
  margin-top: -1px;
}

/* Styling of left diamond */
.diamond-right {
  width: 160px;
  height: 160px;
  margin: 38px 0px 0px 208px;
  background-color: #ff0000;
  transform: rotate(45deg);
}

/* Styling of right diamond */
.diamond-left {
  width: 160px;
  height: 160px;
  margin-left: 42px;
  background-color: #ff0000;
  transform: rotate(45deg);
}

/* Styling of equals-circle-section */
.equals-circle-section {
  display: flex;
  flex-direction: row;
  margin-top: 122px;
}

/* Styling of equals */
.equals {
  display: flex;
  flex-direction: column;
}

/* Styling of line1 */
.line1 {
  width: 140px;
  height: 16px;
  margin: 17px 0px 50px 10px;
  background-color: #0000ff;
}

/* Styling of line2 */
.line2 {
  width: 140px;
  height: 16px;
  margin-left: 10px;
  background-color: #0000ff;
}

/*Styling of main-circle*/
.circle-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

/* Styling of circle */
.circle {
  width: 130px;
  height: 130px;
  margin-left: 30px;
  border-radius: 50%;
  background-color: #008080;
}

/* Styling of rectangle section */
.rectangle-section {
  position: relative;
  bottom: 20px;
}

/* Styling of rectangle */
.rectangle {
  width: 85%;
  height: 78vh;
  margin: 55px 80px 50px 0px;
  text-align: center;
  line-height: 200px;
  background-color: #ffffff;
  color: black;
}

/* Styling of ABC */
.Text {
  margin: -40px 60px 0px 60px;
  text-align: center;
  font-size: 60px;
}

/* For screens 583-900px */
@media (min-width: 583px) and (max-width: 900px) {
  body {
    position: relative;
    height: 100vh;
    display: grid;
  }

  .navbar {
    height: 80px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    max-width: 80%;
  }

  /* Styling of Diamond Section */
  .diamond-section {
    position: absolute;
    top: 88px;
  }

  .diamond-right {
    width: 120px;
    height: 120px;
    margin: 28px 0 0 140px;
  }

  .diamond-left {
    width: 120px;
    height: 120px;
    margin-left: 28px;
  }

  /* Styling of equals-circle-section */
  .equals-circle-section {
    position: fixed;
    bottom: 100px;
    margin: 0px 0 0px 0px;
  }

  .line1 {
    margin: 20px 0 30px 8px;
  }

  .line2 {
    margin-left: 8px;
  }

  /* Styling of rectangle section */
  .rectangle {
    position: fixed;
    top: 80px;
    right: -10px;
    width: 200px;
    height: 80vh;
    background-color: #c83737;
  }

  .Text {
    margin: 0 20px;
  }
}

/* For screens <= 582px */
@media (max-width: 583px) {
  body {
    height: 100vh;
  }

  .navbar {
    height: 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* Styling of Diamond Section */
  .diamond-section {
    width: 32%;
    height: 28vh;
    position: relative;
  }

  .diamond-right {
    width: 100px;
    height: 100px;
    margin: 28px 0px 0px 140px;
  }

  .diamond-left {
    width: 100px;
    height: 100px;
    margin-left: 28px;
  }

  /* Styling of equals-circle-section */
  .equals-circle-section {
    position: relative;
    top: -60px;
    left: 2px;
    height: 22vh;
  }

  .circle {
    width: 100px;
    height: 100px;
    margin-left: 23px;
  }

  .line1 {
    width: 100px;
    height: 11px;
    margin: 20px 0px 30px 8px;
  }

  .line2 {
    width: 100px;
    height: 11px;
    margin-left: 8px;
  }

  /* Styling of rectangle section */
  .rectangle {
    position: relative;
    top: -110px;
    width: 170px;
    height: 40vh;
    margin: 20px 0px 15px 60px;
    background-color: #0000ff;
  }

  .Text {
    text-align: center;
    font-size: 44px;
    margin: -30px;
  }
}
